.a11y-tool {
  position: fixed;
  width: 200px;
  height: 100px;
  background-color: rgb(0 131 255 / 30%);
  border-radius: 8px;
  cursor: move;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 9;
  will-change: top, left;
  left: 0;
  bottom: 0;
  touch-action: none;
}

.a11y-tool::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: red;
}

.a11y-tool::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: red;
}

.adsv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: red;
}

.adsv::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: red;
}
